{% extends "layout.html" %}
{% block title %}管理员列表{% endblock %}
{% block content %}
  <div class="card card-table">
  {% if table.buttons %}
    <div class="card-header">
    <a src="table.buttons.add" class="btn btn-outline-primary">创建</a>
  </div>
  {% endif %}
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-center mb-0">
        <thead>
          <tr>
            {% for item in table.columns %}
              <th>{{item.title}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
         {% for item in data %}
          <tr>
          {% for item2 in table.columns %}
            <td>{{item[item2.key]}}</td>
          {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="card-footer d-flex justify-content-center">
        {{ ctx.locals.pageRender | safe }}
    </div>
</div>
{% endblock %}